* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*structuur*/
.container {
}

.header {
}

.infotekst {
}

.knop {
}

.contact {
}

.footer {
}

/*stylering*/

.background-image {
}

.fonts {
}

.text-center {
  text-align: center;
}
